@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  background-color: #222222;
  color: #dddddd;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-weight: 600;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
nav .shopping-cart {
  width: 1.5rem;
  filter: invert(1);
}
main {
  min-height: 70vh;
}
main h2 {
  margin: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
main .loading-msg {
  text-align: center;
}
.page-info-text {
  text-align: center;
}
.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.product-list .product-link {
  max-width: 30%;
}
.product-card {
  /* max-width: 30%; */
  height: 100%;
  background-color: rgba(221, 221, 221, .2);
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}
.product-card:hover {
  box-shadow: 0 4px 26px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.product-card img {
  max-width: 100%;
  margin: 0 auto;
  aspect-ratio: 1;
}
.product-detail {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: baseline;
  align-items: center;
  gap: 2rem;
}
.product-detail img {
  width: 30%;
}
.product-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.product-info h3 {
  font-size: 1.8rem;
}
.product-info strong {
  font-size: 1.4rem;
}
.product-info p {
  text-align: justify;
}
.product-info button {
  padding: .6rem;
  min-width: 40%;
  align-self: flex-start;
  border-radius: 5px;
  border: 1.5px solid transparent;
  background-color: rgba(34, 34, 34, .9);
  color: #dddddd;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: inherit;
  transition: background-color 250ms;
}
.product-info button:hover {
  background-color: rgba(221, 221, 221, .2);
  color: #222222;
  border: 1.5px solid #222222;
}


/* Search page */

.searchbar {
  padding: .8rem 1rem;
  margin: 2rem auto;
  display: block;
  width: 50%;
  border-radius: 8px;
  border: 2px solid rgba(34, 34, 34, .5);
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
}
main.search-page {
  text-align: center;
}
.search-results, .item-list {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.search-result img {
  width: 15%;
  aspect-ratio: 1;
}
.search-result, .individual-item {
  padding: .6rem .8rem;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
  background-color: rgba(221, 221, 221, .4);
  border-radius: 8px;
}
.cart-items {
  width: 60%;
}
footer {
  margin-top: 2rem;
  background-color: #222222;
  padding: 1.5rem;
  color: #dddddd;
  text-align: center;
}